<launch>
  

  <!-- Start the camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch"/>


  <!-- Set static tramnsformation-->
  <!--node pkg="tf"
        type="static_transform_publisher"
        name="world_camera_tf"
        args="0.184 0.041 0.240 -0.021 0.408 0.024 0.912   world camera_link 10" /-->

   <!-- <node pkg="tf"
        type="static_transform_publisher"
        name="world_camera_tf"
        args="0.205 0.055 0.229 -0.007 0.447 0.006 0.895   world camera_link 10" /> -->

   <node pkg="tf"
        type="static_transform_publisher"
        name="world_camera_tf"
        args="0.184 0.072 0.231 0.003 0.394 -0.006 0.919   world camera_link 10" />

  

</launch>
